<div class="card-body">
    <h4 class="card-title">Sample Horizontal Form with Icons</h4>
    <h6 class="card-subtitle">Use Bootstrap's predefined grid classes for horizontal form</h6>
    <form class="form-horizontal p-t-20">
        <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" id="exampleInputuname3" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="web" class="col-sm-3 control-label">Website</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-world"></i></div>
                    <input type="text" class="form-control" id="web" placeholder="Enter Website Name">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword4" class="col-sm-3 control-label">Password*</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                    <input type="password" class="form-control" id="exampleInputpwd4" placeholder="Enter pwd">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword5" class="col-sm-3 control-label">Re Password*</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                    <input type="password" class="form-control" id="exampleInputpwd5" placeholder="Re Enter pwd">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <div class="checkbox checkbox-success">
                    <input id="checkbox33" type="checkbox">
                    <label for="checkbox33">Check me out !</label>
                </div>
            </div>
        </div>
        <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-success waves-effect waves-light">Sign in</button>
            </div>
        </div>
    </form>
</div>