<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>
                <div *ngIf="usuarios.length === 0" class="alert alert-info">
                    <p class="mb-0">No hay Usuarios con esta busqueda</p>
                </div>

                <div *ngIf="usuarios.length > 0" class="table-responsive animated fadeIn fast">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                                <td>
                                    <img [src]="usuario.img || '' | imagen: 'usuarios'" alt="" class="w50">
                                </td>
                                <td>{{usuario.nombre}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Medicos</h3>
                <div *ngIf="medicos.length === 0" class="alert alert-info animated fadeIn fast">
                    <p class="mb-0">No hay Medicos con el termino</p>
                </div>

                <div *ngIf="medicos.length > 0" class="table-responsive ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Medico</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                                <td>
                                    <img [src]="medico.img || '' | imagen: 'medicos'" alt="" class="w50">
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico/', medico._id]">
                                        {{medico.nombre}}
                                    </a>
                                    </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>
                <div *ngIf="hospitales.length === 0" class="alert alert-info animated fadeIn fast">
                    <p class="mb-0">No hay Hospitales con este termino</p>
                </div>

                <div *ngIf="hospitales.length > 0"class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>hospital</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales" class="animated fadeIn fast">
                                <td>
                                    <img [src]="hospital.img || '' | imagen: 'hospitales'" alt="" class="w50">
                                </td>
                                <td>{{hospital.nombre}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>